p, h1{
    text-align: center;
}

li:hover{
    background-color: rgb(192, 192, 116);
}

li:active{
    color: white;
}

.linha1{
    background-color: rgb(177, 130, 122);
}
.atencao{
    border: 3px solid yellow;
    background-color: rgb(212, 76, 76);
}

ul, ol{
    list-style: none;
}